/* Foogle Header and Search Field Styles */
header{
    background-color: rgb(238, 238, 238);
    width: 100%;
    align-content: center;
}
#search-button{
    background-color: rgb(55, 172, 26);
}
h1{
    text-align: center;
    color: rgb(55, 172, 26);
}

.search-container{
    text-align: center;
    border-radius: 10%;
}

.cards{
    padding-top: 10%;
}

#search-filters{
    background-color: rgb(238, 238, 238);
    padding: 1%;
    margin-top: .5%;
}

#filter{
    text-align: center;
    color: rgb(55, 172, 26);
}

.hover{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
}

.btn {
    background-color: rgb(238, 238, 238);
    color: rgb(55, 172, 26);
    font-size: 16px;
}

.dropdown-content a:hover {background-color: #ddd;}

.hover:hover .dropdown-content {display: block;}

.hover:hover #filter {color: black;}

/* End Foogle Header and Search Field Styles */

/* ***************************************** */
/* ***************************************** */
/* ***************************************** */

/* Recipe Styles */
.mainContent {
    height: 40vh;
}



/* Ingredient list edit search bar */
#ingredientBar{
    width: 50%;
}

#measuresBar{
    width: 30%;
}

#removeIngredientsButton{
    margin-left: 2%;
}

.listCheckbox{
    margin-right:2%;
}

#addButton{
    margin-left: 2%;
}

.strike{
    text-decoration: line-through;
}