/* image background for main page */
#background{
    background-image: url('images/ws_Recipe_Book_1920x1200.jpg');
    max-width: 100%;
    min-height: 900px;
    background-repeat: no-repeat;
    background-position: center;
}

/* recipe html background color */
#background2{
    background-color: #243d15;
}

/* failed responsive code */
@media only screen and (max-width: 600px) {
    #background {
        background-image: url('images/ws_Recipe_Book_1920x1200.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
    }
}

/* html page2 background color */
#page2{
    background-color: rgb(253, 215, 165);
}

#header{
    opacity: 0.8;
    width: 100%;
    background-color: #243d15;
    align-content: center;
}

#searchField{
    font-family: 'Pacifico';
}

#search-button{
    background-color: white;
}

/* main title */
h1{
    text-align: center;
    color: white;
    font-family: 'Pacifico', cursive;
    padding: 0.3%;
}

.search-container{
    text-align: center;
    border-radius: 10%;
}

/* image cards */
.cards{
    padding-top: 10%;
}

#search-filters{
    opacity: 0.8;
    background-color: #243d15;;
    padding: 1%;
    /* margin-top: .5%; */
}

/* text in the search-filter dropdown */
#filter{
    text-align: center;
    color: white;
    font-family: 'Pacifico'; 
}

/* hover effect for search-filter */
.hover{
    position: relative;
    display: inline-block;
}

/* dropdown-content in search-filter */
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #243d15;
    opacity: 0.99;
    z-index: 10;
}

/* for search-filter button */
.btn {
    background-color: #243d15;;
    opacity: 0.8;
    color: white;;
    font-size: 16px;
}

/* bookMark link */
#bookmarked{
    height: 30px;
    width: 2%;
    margin-left: 1%;
}

/* for recipe.html */
.img-title{
    background-color: white;
    opacity: 0.95;
    margin-top: 8%;
    border: solid black;
}

/* for recipe.html */
.mainContent{
    background-color: white;
    opacity: 0.95;
    color: black;
    border: solid black;
}

/* for recipe.html */
#recipeImage{
   margin: 3% 3% 3% 3%;
}

/* for recipe.html */
#recipeTitle{
    margin-top: 15%;
    color: black;
    border-left: solid black;
    font-size: 60px;
}

/* for recipe.html */
#ingredientsList{
    border-right: solid black;
    
}

/* for recipe.html */
#priceList{
    border-right: solid black;
}

/* from bookMarked.js */
.listItem{
    color: black;
}

/* hover effects */
.dropdown-content a:hover {background-color: #ddd;}

.hover:hover .dropdown-content {display: block;}

.hover:hover #filter {color: black;}

/* checkbox line-through */
.strike{
    text-decoration: line-through;
}

#ingredientBar{
    width: 90%;
    margin-top: 5%;
}
#measuresBar{
    width: 90%;
    margin-top: 5%;
}

.listCheckbox{
    margin-right: 2%;
}